version: '3.9'

services:
  gateway:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80" # The ONLY port open to your computer
    depends_on:
      - frontend
      - backend
    networks:
      - app-net
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-net


  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    restart: on-failure
    depends_on:
      - db:
          condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-net


  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    restart: always
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  db-data:
networks:
  app-net:
    driver: bridge
